<h2 class="text-align-center">Current Bookings</h2>
<div class="container-bookings">
  <% if @bookings.empty? %>
    <div class="empty-bookings">
      <p> You have no current bookings!</p>
    </div>
  <% else %>
    <% @bookings.each do |booking| %>
      <h3><%= link_to "#{booking.castle.name}", castle_path(booking.castle.id) %> </h3>
      <div class="dates">
        <p> Check-in: <%= booking.check_in_date %> </p>
        <p> Check-out: <%= booking.check_out_date %> </p>
        <p> Booked for: <%= booking.user.email %> </p>
         <%=link_to booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="far fa-trash-alt"></i> </p>
         <%end%>
      </div>
    <%end%>
  <%end%>
</div>
<h2 class="text-align-center">My Castle Bookings</h2>
<div class="container-bookings">
  <% if @castles.nil? %>
    <div class="empty-castle">
      <p>You haven't listed any castles!</p>
    </div>
  <% else %>
      <% @castles.each do |castle| %>
        <div class = "container" >
          <div class="castle-img">
            <%= cl_image_tag castle.photos.first.key, crop: :fill, height: 240, width: 350 if castle.photos.attached? %>
          </div>
          <div class="castle-info">
            <div class="castle-description">
              <h3><%= castle.name %></h3>
              <p><%= castle.location %></p>
            </div>
            <div class="price">
              <p>$<%= castle.price %></p>
              <p>/night</p>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
</div>








