<div class="container-bookings">

  <!-- Right side -->

  <div>
    <h2>My Upcoming Trips</h2>

    <% if @bookings.empty? %>

      <div class="empty-bookings">
        <p> You have no current bookings!</p>
      </div>

    <% else %>

      <% @bookings.each do |booking| %>

        <div class="card card-horizontal">

          <div>
            <%= link_to(castle_path(booking.castle)) do %>
              <%= cl_image_tag booking.castle.photos.first.key, crop: :fill, height: 200, width: 250 if booking.castle.photos.attached? %>
            <% end %>
          </div>

          <div class="ml-4 mt-2">
            <%= link_to(castle_path(booking.castle)) do %>
              <h3 id="castle-title-bookings"><%= link_to "#{booking.castle.name}", castle_path(booking.castle.id) %></h3>
            <% end %>
            <div>
              <p class="mb-0"><i id="email" class="far fa-calendar-alt"></i> Check-in: <%= booking.check_in_date %> </p>
              <p><i id="email" class="far fa-calendar-alt"></i> Check-out: <%= booking.check_out_date %> </p>
              <p class="mb-0"> Host's contact details: </p>
              <p class="ml-3"><i id="email" class="far fa-envelope"></i> <%= booking.castle.user.email %> </p>
            </div>
          </div>

          <%= link_to booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>

          <% unless booking.reviewed %>
            <%= link_to "Leave a review", new_castle_review_path(booking.castle, booking_id: booking.id)  %>
          <% end %>
        </div>

      <% end %>

    <% end %>
  </div>

  <!-- Left side -->

  <div class="ml-5">
    <h2>Who's booked my castle?</h2>

    <% if @castles.empty? %>

      <div class="castle-info">
        <p class="text-center mt-5">You don't have any castles!</p>
      </div>

    <% else %>

      <% @castles.each do |castle| %>
        <%= link_to(my_castle_bookings_castles_path(castle)) do %>
          <div class="card card-horizontal">

            <%= cl_image_tag castle.photos.first.key, crop: :fill, height: 200, width: 250 if castle.photos.attached? %>

            <div class="ml-4 mt-2">
              <h3><%= castle.name %></h3>
              <% if castle.bookings.empty? %>
                <p><em>No bookings right now!</em></p>
              <% else %>
                <p>Number of current bookings:</p>
                <p class="bookings-count"><%= castle.bookings.count %></p>
              <% end %>
            </div>

          </div>
        <% end %>
      <% end %>

    <% end %>
  </div>

</div>
