<h2 class="justify-content-center">Book your next luxury getaway</h2>
<!-- corrected typo above - justifty to justify nq 19/11 -->
<div class="container-book">
  <br>
  <div class="container">
    <%= simple_form_for([@castle, @booking]) do |f| %>
      <%= f.input :check_in_date, as: :date, html5: true%>
      <%= f.input :check_out_date, as: :date, html5: true%>
      <div class="book">
        <%= f.submit  "book your castle", class: "btn-pink" %>

      </div>
    <!--   link to bookings index# -->
    <% end %>
  </div>

  <%= link_to 'back', castles_path, class: "btn-back" %>
</div>


