<div class="log-in">
  <h1>New user</h1>
  <div class="form-login">
    <%= simple_form_for @user do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.button :submit, class 'btn-login' %>
    <% end %>
  </div>
</div>
