<h2 class="text-align-center">Browse castles near and far</h2>
<div class="container mt-5 mb-2 ">
  <div class="row justify-content-center">
    <%= form_tag castles_path, method: :get, class: "form-inline" do %>
      <div class="form-group mr-3">
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a castle"%>
      </div>
      <%= submit_tag "Search", class: "btn btn-outline-danger" %>
    <% end %>
  </div>
</div>
<div class="grid-castles">

  <% @castles.where.not(:user_id => current_user.id).each do |castle| %>
    <%= link_to(castle_path(castle)) do %>

      <div class="card-castle">

        <div class="castle-img">
          <%= cl_image_tag castle.photos.first.key, crop: :fill, height: 240, width: 350 if castle.photos.attached? %>
        </div>

        <div class="castle-info">
          <div class="castle-description">
            <h3><%= castle.name %></h3>
            <p><%= castle.location %></p>
          </div>
          <div class="price-card">
            <p class="money">€<%= castle.price %></p>
            <p class="night">/night</p>
          </div>
        </div>

      </div>

    <% end %>
  <% end %>
</div>

<div id="map"
     style="width: 110%; height: 320px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

</div>


