<div class="container-devise-form">
  <h2 >Add a castle</h2>

  <div class="add_castle">
    <div class="container">
      <div class="form-inputs">
        <%= simple_form_for(@castle) do |f| %>
          <div class="form-inputs">
            <%= f.input :name, label: "Name" %>
            <%= f.input :description, label: "Description" %>
            <%= f.input :location, label: "Location" %>
            <%= f.input :price, label: "Price per night" %>
            <%= f.input :sleeps, label: "How many people does it sleep?" %>
            <%= f.input :bedrooms, label: "Number of bedrooms" %>
            <%= f.input :bathrooms, label: "Number of bathrooms" %>
            <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Upload Photos" %>
          </div>

          <div class="form-actions">
            <div class="book">
              <%= f.submit  "add your castle", class: "btn-pink"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to 'back', root_path, class: "btn-back" %>
  </div>
</div>
