<!DOCTYPE html>
<html>
  <head>
    <title>CloudCastles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <div id="page-container">

      <div class="navbar">
        <%= link_to "cloud castles", root_path, id: "site-title" %>
        <div class="navbar-links-container">
          <%= link_to "explore stays", castles_path, class: "navbar-link" %>
          <% user_signed_in? ? link = "my bookings" : link = "login" %>
          <%= link_to link, bookings_path, class: "navbar-link" %>
          <div class="nav-item dropdown">
            <%= image_tag "https://static.hollywoodreporter.com/sites/default/files/2019/03/avatar-publicity_still-h_2019-compressed.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <% if user_signed_in? && Castle.find_by(user_id: current_user.id) %>
                <%= link_to "my castles", "#", class: "dropdown-item" %>
              <% end %>
              <%= link_to "add a castle", new_castle_path, class: "dropdown-item" %>
              <!-- added link to add_castle page nq 19/11 -->
              <% if user_signed_in? %>
                <%= link_to "logout", destroy_user_session_path, method: :delete, class: "dropdown-item"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    <div id="content-wrap">
      <%= yield %>
    </div>

      <div class="footer">
        <div class="footer-container">
          <div class="footer-section">
            <p>Cloud Castles, Inc.</p>
            <p>1 Mountain Rd, Fancytown, Switzerland</p>
          </div>
          <div class="footer-section">
            <p>+41 800 444 8484</p>
            <p>info@cloudcastles.com</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
