<!DOCTYPE html>
<html>
  <head>
    <title>CloudCastles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <div id="page-container">

      <div class="navbar">
        <%= link_to "cloud castles", root_path, id: "site-title" %>
        <div class="navbar-links-container">
          <%= link_to "explore stays", castles_path, class: "navbar-link" %>
          <%= link_to "my bookings", bookings_path, class: "navbar-link" %>
          <div class="nav-item dropdown">
            <!-- <img src="https://static.hollywoodreporter.com/sites/default/files/2019/03/avatar-publicity_still-h_2019-compressed.jpg" alt="user-avatar"> -->
            <%= image_tag "https://static.hollywoodreporter.com/sites/default/files/2019/03/avatar-publicity_still-h_2019-compressed.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "my castles", "#", class: "dropdown-item" %>
              <%= link_to "add a castle", "#", class: "dropdown-item" %>
            </div>
          </div>
        </div>
      </div>

    <div id="content-wrap">
      <%= yield %>
    </div>

      <div class="footer">
        <div class="footer-container">
          <div class="footer-section">
            <p>Cloud Castles, Inc.</p>
            <p>1 Mountain Rd, Fancytown, Switzerland</p>
          </div>
          <div class="footer-section">
            <p>+41 800 444 8484</p>
            <p>info@cloudcastles.com</p>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
